:root {
    --color0: #a593c0;
    --color1: #6fadd3;
    --color2: #5b7a5e;
    --color3: #cfa2b6;
    --color4: #aedfd7;
    --color5: #b3ac99;
    --color6: #c9e2ac;
    --color7: #9da2cf;
    --color8: #855c6e;
    --color9: #ceb86e;
    --color10: #97c9c3;
    --color11: #c1c785;
    --color12: #a37859;
    --color13: #cbbae9;
    --color14: #e0d889;
    --color15: #c99679;
    --padding: 30px;
}

html[data-theme='light'] {
    --background: #ffffff;
    --background_gray: #f4f4f4;
    --background_fade: #e8e8e8;
    --main: #161616;
    --dark: #393939;
    --gray: #d6d6d6;
    --highlight: #007bff;
    --dark_highlight: #0c3b94;
    --invert: 0%;
    --back_blur: rgba(255, 255, 255, 0.8);
}

html[data-theme='dark'] {
    --background: #000000;
    --background_gray: #161616;
    --background_fade: #242424;
    --main: #ffffff;
    --dark: #b2b2b2;
    --gray: #393939;
    --highlight: #0f62fe;
    --dark_highlight: #6b9fff;
    --invert: 100%;
    --back_blur: rgba(0, 0, 0, 0.8);
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--main);
}

.main_background {
    background: var(--background_gray);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

b {
    font-weight: 700;
    color: var(--main);
}

p {
    margin: 0;
    font-weight: 400;
}

em {
    opacity: 0.5;
}

hr {
    border: none;
    border-top: dotted 1px var(--main);
    opacity: 0.5;
    margin: 10px 0;
}

button,
select {
    outline: none;
}

/*walkthrough*/

.pill {
    background: var(--highlight);
    color: var(--background);
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 14px;
}

.pill:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.pill .fa {
    margin: 0 3px;
}

#rewalkthrough {
    display: none;
    margin-right: 10px;
}

.show_walkthrough {
    display: block !important;
}

#walkthrough {
    position: fixed;
    left: 0;
    top: 45px;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: var(--back_blur);
    /*
    -webkit-backdrop-filter: blur(10px) brightness(0.8);
    backdrop-filter: blur(10px) brightness(0.8);
*/
    color: var(--main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#walkthrough h2,
#walkthrough h3 {
    font-weight: 400;
    margin: 10px 0 0 0;
}

#walkthrough p,
#walkthrough li {
    font-weight: 300;
    margin-bottom: 10px;
}

#walkthrough > div {
    display: none;
    height: auto;
}

.walkthrough {
    width: 80vw;
    background: var(--background);
    padding: 50px 50px 50px 50px;
    border: solid 1px var(--gray);
    display: flex;
    position: relative;
    height: 100%;
}

.walkthrough_desc {
    width: 70%;
    padding-right: 30px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.walkthrough h2 {
    font-size: 2vw;
    margin-top: 0;
}

.walkthrough h3 {
    font-size: 1.5vw;
    margin: 0.5vw 0 0 0;
}

.walkthrough p {
    font-size: 1.25vw;
    color: var(--dark);
}

.walkthrough hr {
    border: none;
    border-top: solid 1px var(--gray);
    margin: 30px 0;
}

.walkthrough_diagram {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid 1px var(--gray);
    padding-left: 20px;
}

.walkthrough_diagram p {
    font-size: 14px;
}

.walkthrough_diagram img {
    width: 100%;
}

.next_step {
    font-family: sans-serif;
    width: 200px;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    background: blue;
    color: white;
    margin-left: calc(80vw - 200px);
}

.next_step:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

/*header*/
nav.header {
    background: var(--background);
    color: var(--main);
    padding: 13px 16px;
    border-bottom: solid 1px var(--gray);
    height: 45px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    border-radius: 20px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: var(--background);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.small_pill {
    margin-left: 5px;
    background: var(--gray);
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 14px;
    color: var(--background);
}

.small_pill:hover {
    background: var(--background_gray);
    cursor: pointer;
}

#unFull {
    display: none;
}


/*left side blocks*/
.left_side {
    position: fixed;
    left: var(--padding);
    top: calc(var(--padding) + 40px);
    bottom: var(--padding);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*user background*/
.user_control {
    background: var(--background);
    width: 400px;
    border: solid 1px var(--gray);
    padding: 15px 20px;
    margin-bottom: var(--padding);
}

.user_control p {
    color: var(--dark);
}

.user_control h2,
.user_control h3 {
    margin: 5px 0 15px 0;
    line-height: 1.25rem;
    font-weight: 600;
}

.user_control h4 {
    margin: 5px 0;
    padding: 0;
    line-height: 1.25rem;
    font-weight: 400;
}

.user_control hr {
    margin: 20px 0;
    border: none;
    border-top: solid 1px var(--gray);
}

.user_control label {
    display: inline-block;
    color: var(--dark);
    opacity: 0.5;
    font-size: 14px;
    line-height: 14px;
}

.user_control input {
    min-width: 120px;
    border: none;
    border-bottom: solid 1px var(--gray);
    padding: 6px 10px;
    background: var(--background_gray);
    border-radius: 0;
    flex: auto;
}


#example_logic > div,
#code > div > div{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

#example_logic > div > h4,
#code > div > div > h4{
    display: block;
    flex: none;
    width: 120px;
    margin: 0;
    font-weight: 400;
}

#example_logic > div > p,
#code > div > div > p{
    margin: 2px 0;
    font-size: 14px;
}

.code_token {
    background: var(--highlight);
    font-size: 14px;
    color: #fff;
    padding: 3px 6px;
    margin-right: 5px;
}

#example_logic ul {
    margin: 0;
    font-size: 14px;
    padding-left: 16px;
    font-weight: 400;
    color: var(--dark);
}

input:focus,
textarea:focus,
select:focus {
    outline: solid 2px var(--highlight);
}

.user_control span {
    flex: none;
    margin-left: 5px;
    color: var(--dark);
    opacity: 0.5;
}

.user_control .user_input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.btn {
    position: absolute;
    right: 20px;
    border: none;
    background: var(--highlight);
    color: var(--background);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    float: right;
    margin-top: -40px;
    z-index: 99999;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

/*footer*/
.footer {
    background: var(--background);
    width: 400px;
    border: solid 1px var(--gray);
    padding: 15px 20px;
}

.footer img {
    width: 360px;
    height: 200px;
}

.footer label {
    color: var(--dark);
    font-size: 12px;
    line-height: 14px;
    opacity: 0.5;
}

/*right side*/
.right_side {
    position: fixed;
    left: calc(var(--padding) * 2 + 400px);
    top: calc(var(--padding) / 2 + 40px);
    right: calc(var(--padding) / 2);
    bottom: calc(var(--padding) / 2);
    background: var(--background);
    border: solid 1px var(--gray);
}

.right_control {
    border-bottom: solid 1px var(--gray);
    height: 50px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#progress {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 10px);
}

#progress button {
    flex-shrink: 1;
    border: none;
    background: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    border-top: solid 1px var(--highlight);
    height: 0;
    opacity: 0.3;
    font-size: 10px;
    line-height: 10px;
}

#progress button:hover span {
    cursor: pointer;
    background: var(--highlight);
    color: var(--background);
    opacity: 1;
}

#progress span {
    color: var(--highlight);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--highlight);
    font-weight: 500;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    margin-top: -0.5rem;
    background: var(--background);
}

#progress #pro0 {
    width: 1rem !important;
    margin-left: 10px;
}

#progress i {
    font-size: 20px;
    margin-top: 1px;
    margin-left: 5px;
    color: var(--main);
}

#progress i:hover {
    color: var(--highlight);
    cursor: pointer;
}

#progress button.active {
    opacity: 1;
}

/*split screen*/
.split_screen {
    display: flex;
    width: 100px;
    justify-content: flex-end;
}

.split_screen button {
    outline: none !important;
    border: none;
    background: var(--background_gray);
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.split_screen button:hover {
    background: var(--background_fade);
    cursor: pointer;
}

.split_screen button:first-child {
    border-radius: 5px 0 0 5px;
}

.split_screen button:last-child {
    border-radius: 0 5px 5px 0;
}

.split_screen button.active {
    background: var(--gray);
}

/*visualizations*/

.visualizations {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

#tree,
#code {
    height: calc(100vh - 95px - var(--padding));
    width: calc(50% - 1px);
    flex: none;
    border: solid 1px var(--background_fade);
    overflow-y: scroll;
}

/*code*/

#code {
    padding: 30px;
}

pre {
    white-space: pre-line;
    margin: 0 !important;
}

code {
    margin: 0;
    background: var(--background_gray) !important;
    border-top: solid 1px var(--highlight);
    border-bottom: solid 1px var(--highlight);
}

pre, code, code > span {
    font-size: 14px;
    line-height: 20px;
}

#code h2 {
    margin: 0 0 10px 0;
}

.label {
    fill: var(--main);
    font-family: sans-serif;
    font-weight: 600;
    text-anchor: middle;
    alignment-baseline: middle;
}

.label_background {
    fill: var(--background);
    opacity: 0.5;
}

.code_edge {
    stroke-width: 1;
    stroke: var(--dark);
    opacity: 0.5;
}

#code_status {
    margin-bottom: 25px;
}

/*tree*/

.tree_text {
    fill: var(--background);
}

.tree_path {
    stroke-width: 1px;
    fill: none;
}

.tree_score_text {
    font-size: 12px;
}

.tree_score_text_small {
    font-size: 10px;
}

#test_width {
    opacity: 0;
}

.highlight {
    fill: blue !important;
}

.dashed {
    stroke: blue !important;
    stroke-dasharray: 2 3 !important;
}

tspan {
    display: inline-block;
    font-size: 10px;
    padding-left: 10px;
    opacity: 0.5;
}

#evaluation {
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 10px -2px 0 -2px;
    border: 0;
    border-collapse: collapse;
}

#evaluation th {
    font-weight: 500;
}

#evaluation th {
    border-bottom: solid 1px var(--dark);
}

#evaluation td {
    border-bottom: solid 1px var(--gray);
}